body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: anti/aliased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightcyan;
}
.input-container {
 
 width: 100%;

 background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 
}
.input-container .group-input{ 
 margin: 10px 20px;
}
button {

}
.input-container input{
 
}

.tbl {
  margin: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tbl  td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tbl  tr:nth-child(even){background-color: #f2f2f2;}

.tbl  tr:hover {background-color: #ddd;}

.tbl  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

